@font-face {
    font-family: futuraBold;
    src: url(fonts/Futura\ Bold.otf); 
}
@font-face {
    font-family: futuraLight;
    src: url(fonts/Futura\ PT\ Medium.otf); 
}
@font-face {
    font-family: BGBold;
    src: url(fonts/BrandonGrotesque-Bold.otf); 
}
@font-face {
    font-family: BGLight;
    src: url(fonts/BrandonGrotesque-Light.otf); 
}
@font-face {
    font-family: alegreyaBold;
    src: url(fonts/alegreyaBold.ttf); 
}
@font-face {
    font-family: alegreya;
    src: url(fonts/alegreya.ttf); 
}
@font-face {
    font-family: consolaLight;
    src: url(fonts/CONSOLA.TTF); 
}
@font-face {
    font-family: alata;
    src: url(fonts/Alata-Regular.ttf);
}
@font-face {
    font-family: hack;
    src: url(fonts/Hack-Regular.ttf); 
}
@font-face {
    font-family: Chelsea;
    src: url(fonts/ChelseaMarket-Regular.ttf); 
}
@font-face {
    font-family: zenKaku;
    src: url(fonts/ZenKakuGothicNew-Medium.ttf); 
}
@font-face {
    font-family: zenKakuL;
    src: url(fonts/ZenKakuGothicNew-Light.ttf); 
}
@font-face {
    font-family: Blanka;
    src: url(fonts/Blanka-Regular.otf); 
}
@font-face {
    font-family: zenakuR;
    src: url(fonts/ZenKakuGothicNew-Regular.ttf); 
}

body {
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-color:#00072D; 
    overflow-x: hidden;
}

#projpage {
    background-image: url(photos/bg4.jpg);
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-color:#00072D; 
    overflow-x: hidden;
}

#homepage {
    overflow-y: hidden;
}
/*TOGGLE SWITCH  */
.switch {
    position: relative;
  }
  
.switch:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1000;
    white-space: nowrap;
    font-family: Chelsea;
    font-size: 15px;
    background-color: darkblue;
}
  
/* For Saturn cursor */
.saturn-cursor #cursor {
    cursor: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(244, 175, 0, 0.882), rgba(255, 224, 87, 0.529));
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.saturn-cursor #cursor::before {
    content: "";
    position: absolute;
    height: 10px;
    background: linear-gradient(to right, rgb(255, 173, 30), rgba(255, 224, 87, 0.529), rgb(255, 249, 158));
    top: 50%;
    left: 50%;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    width: 60px;
    transform: translate(-50%, -50%) rotate(135deg);
}

.change-font {
    font-family: Chelsea !important;
  }

.change-button-font .home-button {
    font-family: Chelsea !important;
}


.switch-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 20px;
    z-index: 1000;
}
  
  
input[name="onoff"] {
    display: none;
}
  .on,.off {
    position: absolute;
    text-align: center;
    text-shadow: inset 1px 1px 1px black;
    width: 100%;
  }
  
  .on {
    color: #fff;
    top: 10px;
    transition: all 0.1s;
    font-family: sans-serif
  }
  
  .off {
    color: #636161;
    bottom: 5px;
    transition: all 0.1s;
    transform: scaleY(0.85);
  }
  
  .but {
    background-color: rgb(3, 3, 66); 
    border-radius: 400px 400px 400px 400px / 400px 400px 300px 300px;
    border-bottom-width: 0px;
    box-shadow: inset 8px 6px 5px -7px rgba(0,0,0,1)
      ,inset -8px 6px 5px -7px rgb(20, 16, 71)
      ,inset 0 -3px 2px -2px rgba(200,200,200,.5)
      ,0 3px 3px -2px rgb(32, 29, 84)
      ,inset 0 -230px 60px -200px rgba(255,255,255,.2)
      ,inset 0 220px 40px -200px rgba(25, 16, 83, 0.3);
    display: block;
    font-size: 17px;
    height: 60px;
    position: relative;
    transition: all 0.2s;
    width: 40px;
  }
  
  .back {
    background-color: rgb(2, 2, 59);
    background-image: -webkit-linear-gradient(0deg, transparent 30%, transparent 65%)
      ,-webkit-linear-gradient(0deg, rgba(41, 25, 134, 0) 30%, rgba(150,150,150,.1) 50%, rgba(150,150,150,0) 70%);
    border-radius: 115px;
    box-sizing: border-box;
    height: 85px;
    padding: 4px 4px;
    transition: all 0.2s;
    width: 50px;
  }
  
  input:checked + .back .on,input:checked + .back .off {
    text-shadow: inset 1px 1px 1px black;
  }
  
  input:checked + .back .on {
    color: rgb(141, 141, 141);
    top: 10px;
    transform: scaleY(0.85);
  }
  
  input:checked + .back .off {
    color: #fff;
    bottom: 5px;
    transform: scaleY(1);
  }
  
  input:checked + .back .but {
    background: rgb(2, 2, 73);
    background-image: -webkit-radial-gradient(55% 18%,circle closest-corner,rgba(0,0,0,.3) ,rgba(0,0,0,0));
    border-radius: 410px 410px 410px 410px / 310px 310px 410px 410px;
    box-shadow: inset 8px -4px 5px -7px rgb(30, 20, 95)
      ,inset -8px -4px 5px -7px rgb(26, 11, 109)
      , 0 -3px 8px -4px rgba(250,250,250,.4)
      ,inset 0 3px 4px -2px rgb(30, 13, 76)
      ,inset 0 280px 40px -200px rgba(0,0,0,.2)
      ,inset 0 -200px 40px -200px rgba(180,180,180,.2);
    margin-top: 20px;
  }
  
  input:checked + .back {
    background-image: -webkit-linear-gradient(90deg, rgb(14, 0, 59) 30%, transparent 65%)
      ,-webkit-linear-gradient(180deg, rgba(37, 16, 89, 0) 0%, rgba(250,250,250,.4) 50%, rgba(150,150,150,0) 100%);
    box-shadow: 28px 28px 28px -28px rgba(29, 14, 104, 0.1)
      ,-28px 28px 28px -22px rgba(0,0,0,.1)
      ,0 30px 30px 0px rgba(36, 22, 103, 0.2)
      ,inset 0 1px 2px 0 rgba(30, 8, 120, 0.6);
    padding: 2px 4px;
  }
  
  .l,.r {
    margin: 0 auto;
    text-align: center;
  }
  
  .round,#onoff,.back,.but,.on,.off {
    user-select: none;
  }


.highlight {
    background-color: rgb(255, 233, 235);
    font-weight: bold;
}



/*NAV BAR*/ 
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 9;
    background-color:#fff3f900; 
    
}

.blurred-navbar {
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.7s ease-in-out;
}

.main-headshot {
    position: absolute;
    background-repeat: no-repeat;
    background-size:  cover;
    border-radius: 50%;
    background-image:   url("photos/myface.jpg");
    font-family: futura;
    font-size: 16px;
    width: 55px;
    height: 55px;
    top: 10px; 
    left: 15px; 
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: 0.2s;
}

.main-headshot:hover {
    width: 57px;
    height: 57px;
}

.button-container {
    display: flex;
    flex-direction: row;  
    justify-content: center;  
    align-items: center; 
}

.home-button {
    display: inline-block; 
    font-family:  zenakuR, sans-serif; /* Use the specified font */
    color: #ffffff; /* Initial color of the text */
    font-size: 27px; /* Initial font size */
    transition: color 0.3s, font-size 0.3s; /* Smooth transition for color and font-size */
    /* Add other necessary styling like padding, margin, etc. as per your design */
    margin-top: 18px; 
    margin-left: 25px; 
    margin-right: 25px; 
    z-index: 10; 
}

.home-button:hover {
    color: yellow; /* Change color to yellow on hover */
    font-size: 28px; /* Increase font size on hover */
    font-family: zenKaku, sans-serif;
    margin-top: 18px; 

}

.current-page {
    color: yellow; /* Change color to yellow on hover */
    font-size: 28px; /* Increase font size on hover */
    font-family: zenKaku, sans-serif;
    margin-top: 18px; 
}
#bars{
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 22px;
    font-size: 20px;
    cursor: pointer;
}

#bars:hover{
    color: #de5d7f;

}

.sliding-menu {
    height: 100%;
    z-index: 10;
    width: 0; 
    position: fixed; 
    right: 0;
    top:0;
    background-color: #ffffff93;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden; 
}

.sliding-menu a{
    padding: 10px 80px 50px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ff0080;
    display: block;
    transition: 0.3s;
    font-family: futura;
    text-transform: uppercase; 
    letter-spacing: 4px; 
}

.sliding-menu a:hover{
    color: hsl(322, 97%, 86%) ;
    font-size: 25px; 
}

.sliding-menu .x-sign{
    padding: 0px 0px 0px 520px;
    margin-top: 10px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 10px;
    transition: 0.3s;
    margin-left: 50px; 
}

.sliding-menu .x-sign:hover{
    color: hsl(322, 97%, 86%);
    font-size: 30px;
}

#dark-overlay {
    width: 0;
    opacity: 0.4;
    background:#000;
    height: 100%;
    z-index: 10;
    left: 0;
    top:0;
    position:fixed;
     
    
}


/*LANDING PAGE */


.my-info{
    padding-top: 2vh; 
    color:#c33245;
    font-size: calc(2px + 1vw);
    font-family: BGBold; 
    letter-spacing: 1px;
}

.planet {
    visibility: hidden;  
    opacity: 0;  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    animation: move-up6 1.5s ease-in infinite alternate-reverse;
    z-index: -1;
    background: radial-gradient(circle, #6e7f80, #536872, #708090);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.planet-1 {
    background: radial-gradient(circle, #ff8c6f, #ff3a3d);
    background-size: cover;
    top: 10%;
    left: -10%;
    width: 250px;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.planet-2 {
    background: radial-gradient(circle, #00F260, #0575E6);
  
    background-size: cover;
    bottom: 14%;
    right: -8%;
    animation-name: move-down1;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.8);
}

.planet-3 {
    background: radial-gradient(circle, #eeff7d, #be7c00);
    width: 300px;
    height: 300px;
    background-size: cover;
    top: -30%;
    right: 10%;
    animation-name: move-down1;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.8);
}

.planet-4 {
    background: radial-gradient(circle, #ebc9ff, #18ff8c);
    background-size: cover;
    top: 85%;
    left: -5%;
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.8);
}

.star::before {
   
    content: "";
    position: absolute;
    width: 30px;
    height: 16px;
    background: linear-gradient(to left, rgb(255, 217, 0), transparent);
    left: -40px;
    top: 0;
    border-radius: 50%;
    opacity: 0.5;
}

.star {
    visibility: hidden;  
    opacity: 0;  
    width: 15px;
    height: 15px;
    background-color: rgb(238, 255, 0);
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    opacity: 0; 
    animation: slide-star 3s linear infinite, appear 3s ease-in-out infinite;
    box-shadow: 0 0 40px 10px rgb(255, 255, 181), 0 0 30px 7px rgb(255, 255, 218), 0 0 20px 5px yellow;
}

.star-1 {
    top: 15%;
    left: 0%;
    animation-delay: 1.5s, 1.5s;
}

.star-2 {
    top: 40%;
    left: 70%;
}

.star-3 {
    top: 70%;
    left: 50%;
    animation-delay: 2.5s, 2.5s;
}

@keyframes slide-star {
    0%, 8% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(400px);
    }
}

@keyframes appear {
    0%, 8% {
        opacity: 0;
    }
    9%, 15% {
        opacity: 1;
    }
    16%, 100% {
        opacity: 0;
    }
}


/* For planets */
.show-planets .planet {
    visibility: visible;
    opacity: 1;
}

/* For stars */
.show-stars .star {
    visibility: visible;
    opacity: 1;
}

.home-case {
    color: white;
    margin-top: 240px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content; /* Adjust the width as needed */
    
}
.typewriter-container {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: auto;
    border-radius: 60px;
    background: rgba(255, 81, 81, 0.05);
}

.typewriter-1, .typewriter-2, .typewriter-3 {
    line-height: 1; /* Adjusted line height */
    margin: 0; /* Removed all default margins */
    padding-left: 45px; /* If needed, adjust or remove padding */
    padding-right: 40px;
}

.typewriter-1 h1 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-family: Blanka; 
    font-size: 65px;
    letter-spacing: 8px;
    animation-fill-mode: both;
    margin-bottom: 0;
    animation:
        typing 1.2s steps(70, end),
        blink-caret 0.75s step-end infinite;
}

.typewriter-2 {
    display: inline-block; 
    overflow: hidden;
    white-space: nowrap;
    animation:
    typing 2s steps(70, end) 1.2s, /* Add 2s delay here */
    blink-caret 0.75s step-end infinite 1.2s; 
    animation-fill-mode: both;
    text-transform: uppercase ;
    font-family: zenakuR , sans-serif;
    margin-bottom: 0;
    font-size: 27px;
    margin-bottom: -40px;


}

.typewriter-3 {
    display: inline-block; 
    overflow: hidden;
    white-space: nowrap;
    animation:
    typing 2s steps(70, end) 2.3s,
    blink-caret 6s step-end infinite 2.3s; 
  animation-fill-mode: both;
  text-transform: uppercase ;
    font-family: zenakuR , sans-serif;
    
    margin-bottom: 0;
    
    font-size: 27px;
    text-transform: uppercase; 
    padding-bottom: 20px;


}

.highlight-software-engineer {
    color: #FAFF00;
    font-family:zenKaku; 
}

.highlight-user-experience {
    background-color: #fdff9b38; /* This will highlight the text with light yellow */
}

.underline-technology {
    text-decoration: underline;
}

@keyframes typing {
    from {
        width: 0;
        visibility: hidden;
    }
    to {
        width: 100%;
        visibility: visible;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

a {
    text-decoration: none;
}

.transition-container {
    display: flex;
    justify-content: center; /* Center the circles horizontally */
    align-items: center; /* Align the circles vertically in the middle */
    height: 1px; /* Adjust the height as needed */
}

.circle {
    width: 20px; /* Size of the circle */
    height: 20px; /* Size of the circle */
    border-radius: 50%; /* Makes the div a circle */
    margin: 0 10px; /* Spacing between circles */
    cursor:pointer;
}

.circle1 { background-color: rgb(125, 227, 255)}
.circle2 { background-color: rgb(145, 255, 145); }
.circle3 { background-color: rgb(250, 151, 255); }





/*FOOTER*/
.footer{
    color: rgba(255, 247, 247, 0.134);
    background-color: #ffffff29;

}

.grey-links{
    background-color: #faf1f120;
    height: 300px;
    padding-top: 45px;
    padding-left: 5%;
    position: relative;
    z-index: 8;
    background-size:cover;
    width: 100%;
    margin-top:50px;
    margin-right: 0 ;
}

.logos {
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Align children vertically */
    position: fixed; /* Fixed positioning relative to the viewport */
    bottom: 0; /* Align to the bottom of the viewport */
    left: 0; /* Align to the left of the viewport */
    right: 0; /* Align to the right of the viewport */
    width: 100%; /* Full width of the viewport */
    height: 70px;
}

.linkedin-block, .instagram-block, .github-block {
    margin: 0 18px; /* Adjust the space between the logos */
    display: flex;
    align-items: center;
    justify-content: center;
}

#linkedin-logo, #instagram-logo, #github-logo {
    font-size: 45px;
    color: #ffffff;
    transition: 0.3s;
}



#github-logo {
    padding: 0;
    transition: 0.3s;
}

#github-logo:hover {
    color:hsl(133, 99%, 37%);
    font-size: 55px;
}


#linkedin-logo:hover {
    color:hsl(243, 100%, 60%);
    font-size: 55px;
}

#instagram-logo:hover {
    color:hsl(281, 100%, 54%);
    font-size: 55px;
}

.pages {
    text-transform: uppercase; 
    color: rgb(255, 217, 0);
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 8px;
    line-height: 18px; 
    font-size: 20px;
    font-family: futuraLight;
}

.grey-link {
    color:rgb(255, 255, 181);
    font-family: futuraLight;
    letter-spacing: 2px;
    font-weight: 400px;
    font-size: 21px;
    line-height: 40px;
    position :relative;
    z-index: 1;
    padding-top: 7px;
}

.grey-link:hover {
    color:hsl(322, 97%, 86%);
}



/* CONTACT */ 
.contact-glass-container {
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    padding: 0.1rem;
    margin :10rem;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.contact-title{
    text-align:center;
    color :rgb(238, 255, 0);
    font-family: zenakuR;
    margin-bottom: 0;
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 33px;
}

.contact-container {
    width: 60%;
    margin: auto;
    color:rgba(152, 170, 255, 0.999);
    margin-top:-40px;
}

.contact-form {
    font-family: zenakuR;
    font-size: 17px; 
    padding-top: 60px;
}

.contact-label { 
    text-align: left;
    color: white; 
    width: 100%;
    margin-bottom: 0px;
    margin-top : 15px;
    font-family: BGBold;
    font-size: 22px; 
    
}
#note {
    color:white;
}

input[type=text], select {
    width: 100%;
    font-size: 20px;
    font-family: zenakuR;
    color: white;
    background-color:hsla(0, 0%, 100%, 0.055); 
    padding: 22px 14px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid rgba(152, 170, 255, 0.999);
    
}

input[type=submit] {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    background-color: hsla(60, 100%, 72%, 0.594);
    font-family: zenakuR;
    font-size: 17px; 
    margin: 10px 0px;
    margin-bottom: 70px;
    color: white; 
}

input[type=submit]:hover {
    box-shadow: .5px .5px 150px rgba(152, 170, 255, 0.999);
}

input[type=submit]::after {
    content: "Thanks";
    height: 50px;
    width: 100%; 
    background-color: hsl(60, 97%, 86%);
    color: hsl(60, 97%, 86%);
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

input[type=submit]::before {
    content: "Submit"; 
    height: 50px;
    width: 100%; 
    background-color: hsl(68, 97%, 86%);
    color: rgba(152, 170, 255, 0.999);
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

input[type=submit]:hover::after {
    transform: translateY(0) scale(1.2);
}

input[type=submit]:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}

input:focus, textarea:focus {
    outline: none;
}

#contact-thankyou {
    display: none; 
    padding-bottom: 190px;
    padding-top: 8px;
    padding-bottom: 100px;
    color:rgba(236, 255, 172, 0.885);
    font-size: 35px;
    font-family: BGLight;
    letter-spacing:  0.4px;
    line-height: 1.6;
    text-align: center; 

}

#note {
    height: 250px;
    line-height: 1.0;
    width: 93%;
    font-size: 18px;
    font-family: BGLight;
    background-color: hsla(325, 97%, 75%, 0.055); 
    padding: 22px 14px;
    margin: 10px 0px;
    border: none; 
    border-bottom: 2px solid #ff59a141; 

}

#submitted {
    display: none; 
}



/* WORK */ 
.recent {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-container:hover {
    cursor: pointer;
}

.my-work {
    text-align: center;
    font-family: Chelsea;
}
.work-obj-container {
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(20px);
     background-color: #0575E6;
    margin-left: 100px;
    margin-right: 75px;
    display: inline-block;
    position: relative;
    margin-bottom: 75px;
    margin-top: 170px;
    width: 400px;  
    height: 270px; 
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    z-index: 7;
    transition: all 0.5s ease;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    font-family: zenKaku;
}
.work-obj-container:hover {
    transform: scale(1.03);
}

.image-wrapper {
    transition: all 0.3s ease;
}

.image-wrapper:hover {
    transform: scale(1.03);
}

.work-img {
    object-fit: cover;
    width: 400px;  
    height: 270px; 
    transition: all 0.5s ease;
    border-radius: 15px;
}


.work-overlay {
    display:block;
    width: 418px;
    height: 280px;
    position: absolute; 
    top: 0;
    left:0;
    background-color: rgc(0,0,0,0,21);
    z-index: 3;
}


.work-title {
    text-align: left;
    width: 400px;
    height: 270px;
    position:absolute;
    line-height: 22.6;
    bottom: -63px;
    z-index: 4;
    color: rgba(255, 252, 78, 0.999);
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: uppercase; 
    overflow: hidden;
    left: 50%;  
    transform: translateX(-17.5%);
    font-family: zenKaku;
}

.work-title::before {
    content: "";
    position: absolute;
    bottom:0;
    left: 0;
    width: 60%;
    height: 20%;
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(2px); 
    z-index: -1; 


}

.work-cat {
   text-align: center; 
    width: 400px;
    height: 270px;
    position:absolute;
    line-height: 22.6;
    bottom: -155px;
    z-index: 4;
    color: rgba(157, 255, 216, 0.999);
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase; 
    left: 50%;  
    transform: translateX(-50%);
    font-family: zenKaku;
   
}




/*ABOUT ME*/
.about-glass-container {
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    padding: 1rem;
    margin: 10rem;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.about-info {
    width: 85%;
    margin: auto;
    color: hsl(60, 97%, 86%);
    font-family: zenakuR;
}

.about-header {
    margin-top: 40px;
    text-transform: uppercase; 
    font-size: 36px;
    text-align: center;
    color: rgb(238, 255, 0);
    font-family: zenKaku;
    padding-left: 20px;
    transition : all 0.5 ease;
    z-index: 7;
    position: relative;

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.about-headshot {
    width: 50%;
    padding-bottom: 70%;
    background-image: url("photos/myphoto.jpeg");
    background-repeat: no-repeat;
    background-size:  cover;
    margin: auto;
    margin-top: 58px;
    margin-bottom: 100px;
    border-radius: 15px; 
    box-shadow: 0 0 7px rgba(0,0,0,0.5); 
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    font-family: Chelsea;

}

.about-desc {
    margin-top: 20px;
    font-size: 20px;
    line-height: 28.8px;
    color: rgb(255, 255, 255);
    z-index: 7;
    position: relative;
    font-family: zenKaku;
   
}

.my-skills {
    font-family: alata;
    margin-top: 33px;
    color: rgb(238, 255, 0);
    font-family: zenKaku;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 22px;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    

}
.skill-header {
    color: rgb(238, 255, 0);
    font-family: zenKaku;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 15px;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.i-do {
    font-family: alata;
    margin-top: 1px;
    color: #fffafa;
    text-transform: uppercase;
    line-height: 28.8px; 
    letter-spacing: 1px;
    font-size: 19px;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    font-family: zenKaku;
}

.about-next {
    height: 333px;
    margin-top: 50px; 
    background-color: #e2e2e261;
    color: rgb(238, 255, 0);
    font-family: zenKaku;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    transition : all 0.5s ease;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
  
}

.about-ready {
    font-family: zenKaku;
    font-size: 25px; 
    padding-top: 97px;
    text-transform: uppercase;
    padding-bottom: 63px;
    letter-spacing: 3px;
    transition : all 0.3s ease;
   
}

.about-ready:hover {
    color:#ff7ac3;
}

.about-chat {
    border: 4px solid #fff;
    padding: 20px 20px; 
    margin-top: 200px; 
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    transition : all 0.5s ease;
    font-family: zenKaku;
}

.about-chat:hover {
    color: #e2e2e2; 
    background-color: #fff;
}



/*PROJECT */ 
.project-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Chelsea;
}

.project-block {
    justify-content: center;
    align-items: center;
    padding-left : 10%;
    font-family: Chelsea;

}

.project-title {
    width: 50%;
    position: relative;
    margin-top:  -8%;
    text-align: center; 
    font-family: Chelsea; 
}

.project-name , .project-category {
    letter-spacing: 2px;  
    color:rgba(150, 168, 255, 0.999);
}

.project-name {
    font-size: 50px;
   
}

.project-category {
    font-size:  20px ;
    top: 186px; 
    font-family: Chelsea;
    
}

.project-block { 
    margin-left: 10%;
    font-size: 50px; 
    width: 65%;
    font-family: Chelsea;
    color: #ffffff;
    
}

.project-des {
    margin-top: 34px;
    font-size: 30px;
    line-height:  28.8px;
    text-align: center;
    font-family: futuraLight;
}

.project-web {
    margin-top : 10px;
    font-family: Chelsea;
}

#project-arrow {
    float : left; 
    font-size: 24px;
    padding-top: 1px;

}

.project-web-name {
    padding-left: 30px;
    font-family: Chelsea;
    font-size:  30px;
    color: #ffffff; 
}

.project-tools-title { 
    font-family: BGBold;
    font-size:  20px;
    color: #ffffff;
    text-transform:  uppercase;
    padding-top: 1%;
}


.project-tools {
    display: block;
    font-size: 20px;
    font-family: BGBold;
}
    

.project-page {
    font-size:  20px;
    font-family: BGBold;
    text-transform:  uppercase;
    letter-spacing: 2px;
    margin-bottom: 80px;
}

.project-page-center {
    width : 80%;
    margin: auto; 
    text-align: center; 
}

.arrow-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px; 
    color: rgba(152, 170, 255, 0.999);
    background-color:rgba(152, 170, 255, 0.999);
}
.project-images {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;       
    height: 20%;           
}

.project-images img {
    width: 20%;  
    margin: 2%; 
}


.project-images img:last-child {
    margin-right: 0; 
}


.project-images-section {
    height: 100%; 
    position: relative;
    margin-top : 20%;

}

.project-git {
    margin-top: 10px;
    font-family: BGBold;
}


.project-git-name {
    padding-left: 20px; 
    font-family: BGBold;
    font-size: 30px;
    color :#e7ff7b;
}


.back1 .button3 {
    padding: 10px 20px;
    background-color:rgba(150, 168, 255, 0.999);
    color: white; /* White text */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 0;
    font-family: zenKaku;
   
}

.back1 .button3:hover {
    background-color:rgba(64, 74, 125, 0.999)
}






/*FUN PAGE */

.project-card:nth-child(4n)::after {
    content: "";
    display: table;
    clear: both;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* This sets the gap between the cards */
    margin: 0 auto; /* Keeps the wrapper centered */
    max-width: 1200px; /* Adjust as needed */
}

.project-card {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px; /* Adjust or remove as necessary */
    flex:  0 1 calc(30% - 20px); /* Adjust the percentage for 3 in a row and subtract twice the gap */
    font-family: futuraLight;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    z-index: 6;
    margin-bottom: 30px; /* Adjust or remove as necessary */
}

.project-card img {
    width: 100%;
    height: auto;
    display: block; /* Remove any default inline spacing */
    border-radius: 8px; /* Match your desired styling */
}
  
  .card-inner {
    width: inherit;
    height: inherit;
   
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
   
    border-radius: 8px;
    z-index: 0; 
  }
  
  .project-card:hover {
    transform: scale(1.04) rotate(1deg);
  }


  .project-wrapper {
    position: relative;
}
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
  

.project-description-1 {
   margin-top: 8px;
   font-family: zenKaku, sans-serif;
   color:#ff9898;
   font-size : 20px;
}

.project-description-2 {
    margin-top: 8px;
    font-family: zenKaku, sans-serif;
    color:#e19bff;
    font-size : 20px;
 }

 .project-description-3 {
    margin-top: 8px;
    font-family: zenKaku, sans-serif;
    color:#71ecff;
    font-size : 20px;
 }

 .project-description-4 {
    margin-top: 8px;
    font-family: zenKaku, sans-serif;
    color:#f2ff8e;
    font-size : 20px;
 }

 .project-description-5 {
    margin-top: 8px;
    font-family: zenKaku, sans-serif;
    color:#8effa1;
    font-size : 20px;
 }

 .project-description-6 {
    margin-top: 8px;
    font-family: zenKaku, sans-serif;
    color:rgb(255, 167, 218); 
    font-size : 20px;
 }
.project-link {
    text-decoration: none;
    margin-top: 16px;
    font-family: zenKaku, sans-serif;
    font-size: 18px;
    color: rgba(101, 255, 96, 0.9);


}

.title-fun, .subtitle-fun {
    background: rgba(255, 81, 81, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    padding: 5px 20px; 
    color:rgba(198, 255, 189, 0.9);
    font-family: zenKaku, sans-serif;
    display: block; 
    /*width: max-content;  */
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
    margin-top: 30px;
}

.fun-container {
    margin-top: 150px;
}













