@font-face {
    font-family: futuraBold;
    src: url(fonts/Futura\ Bold.otf); 
}
@font-face {
    font-family: futuraLight;
    src: url(fonts/Futura\ PT\ Medium.otf); 
}
@font-face {
    font-family: BGBold;
    src: url(fonts/BrandonGrotesque-Bold.otf); 
}
@font-face {
    font-family: BGLight;
    src: url(fonts/BrandonGrotesque-Light.otf); 
}
@font-face {
    font-family: alegreyaBold;
    src: url(fonts/alegreyaBold.ttf); 
}
@font-face {
    font-family: alegreya;
    src: url(fonts/alegreya.ttf); 
}
@font-face {
    font-family: consolaLight;
    src: url(fonts/CONSOLA.TTF); 
}
@font-face {
    font-family: alata;
    src: url(fonts/Alata-Regular.ttf);
}
@font-face {
    font-family: hack;
    src: url(fonts/Hack-Regular.ttf); 
}
@font-face {
    font-family: Chelsea;
    src: url(fonts/ChelseaMarket-Regular.ttf); 
}



body {
    cursor: none;
    background-image: url("photos/aldebaran-s-qtRF_RxCAo0-unsplash.jpg");
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-color:#00072D; 
    overflow-x: hidden;
}
  
#cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(244, 175, 0, 0.882), rgba(255, 224, 87, 0.529)); /* Add gradient */
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#cursor::before {
    content: "";
    position: absolute;
    height: 10px;
    background: linear-gradient(to right, rgb(255, 173, 30), rgba(255, 224, 87, 0.529), rgb(255, 249, 158));
    top: 50%;
    left: 50%;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#cursor::before {
    width: 60px;
    transform: translate(-50%, -50%) rotate(135deg);
}




.highlight {
    background-color: rgb(255, 233, 235);
    font-weight: bold;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 62px;
    z-index: 9;
    background-color:#fff3f900; 
    
}

.name{
    text-decoration: none;
    font-family: Chelsea;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 80px; 
    color: #ffffff;
    letter-spacing: 0.5px; 
    transition: color 0.3s ease, font-size 0.3s ease;
}

.name:hover{
    color:#8dbdff;
    font-size: 18px;
}

.main-headshot {
    position: absolute;
    background-repeat: no-repeat;
    background-size:  cover;
    border-radius: 50%;
    background-image:   url("photos/myface.jpg");
    font-family: futura;
    font-size: 16px;
    width: 50px;
    height: 50px;
    top: 7px; 
    left: 15px; 
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: 0.2s;
}

.main-headshot:hover {
    width: 52px;
    height: 52px;
}
#bars{
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 22px;
    font-size: 20px;
    cursor: pointer;
}

#bars:hover{
    color: #de5d7f;

}

.sliding-menu {
    height: 100%;
    z-index: 10;
    width: 0; 
    position: fixed; 
    right: 0;
    top:0;
    background-color: #ffffff93;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden; 
}

.sliding-menu a{
    padding: 10px 80px 50px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ff0080;
    display: block;
    transition: 0.3s;
    font-family: futura;
    text-transform: uppercase; 
    letter-spacing: 4px; 
}

.sliding-menu a:hover{
    color: hsl(322, 97%, 86%) ;
    font-size: 25px; 
}

.sliding-menu .x-sign{
    padding: 0px 0px 0px 520px;
    margin-top: 10px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 10px;
    transition: 0.3s;
    margin-left: 50px; 
}

.sliding-menu .x-sign:hover{
    color: hsl(322, 97%, 86%);
    font-size: 30px;
}

#dark-overlay {
    width: 0;
    opacity: 0.4;
    background:#000;
    height: 100%;
    z-index: 10;
    left: 0;
    top:0;
    position:fixed;
     
    
}

.home {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-bottom : 20%; 
}

.home-case {
    width: 80vw; 
    height: 50vh; 
    margin: auto;
    position: relative;
    z-index: 8;
    margin-bottom: 500px;
}


.home-box {
    color:#ffffff;
    font-size: 40px;
    font-family:Chelsea; 
    letter-spacing: 1px;
    padding-top: 20% ; 
}

.button-container {
    display: flex;
    flex-direction: row;  
    justify-content: center;  
    align-items: center; 
    margin-top: 1rem; 
}

.my-info{
    padding-top: 2vh; 
    color:#c33245;
    font-size: calc(2px + 1vw);
    font-family: Chelsea; 
    letter-spacing: 1px;
}

.home-button {
    text-decoration: none;
    font-family: Chelsea; 
    letter-spacing: 2px;
    font-size: calc(max(14px, min(2vw, 24px)));
    font-weight: 400;
    padding: 2.5vh;
    margin: 1vh;  
    width: 15vw;
    height: 3vw;
    text-align: center;
    color: #ffffff;
    background-color: #ffdee23a;
    border-radius: 1.5vw;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    display: flex;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1; 
    background: linear-gradient(90deg, #03a8f400, #ffc0e439, #ffeb3b2d, #88d9ff07);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    position: relative; 
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.home-button:hover {
  animation: ani 2s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.home-button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a8f413, #ffa4a422, #ffeb3bc2, #03a8f419);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.home-button:hover::before {
  filter: blur(50px);
}

.home-button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a8f450);
}


@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.70);
    }
    100% {
        transform: scale(1);
    }
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.planet {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    animation: move-up6 1.5s ease-in infinite alternate-reverse;
    z-index: -1;
    background: radial-gradient(circle, #6e7f80, #536872, #708090);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.planet-1 {
    background: radial-gradient(circle, #ff8c6f, #ff3a3d);
    background-size: cover;
    top: 10%;
    left: -10%;
    width: 250px;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.planet-2 {
    background: radial-gradient(circle, #00F260, #0575E6);
  
    background-size: cover;
    bottom: 14%;
    right: -8%;
    animation-name: move-down1;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.8);
}

.planet-3 {
    background: radial-gradient(circle, #eeff7d, #be7c00);
    width: 300px;
    height: 300px;
    background-size: cover;
    top: -30%;
    right: 10%;
    animation-name: move-down1;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.8);
}

.planet-4 {
    background: radial-gradient(circle, #ebc9ff, #18ff8c);
    background-size: cover;
    top: 85%;
    left: -5%;
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.8);
}

.star::before {
   
    content: "";
    position: absolute;
    width: 30px;
    height: 16px;
    background: linear-gradient(to left, rgb(255, 217, 0), transparent);
    left: -40px;
    top: 0;
    border-radius: 50%;
    opacity: 0.5;
}

.star {
    width: 15px;
    height: 15px;
    background-color: rgb(238, 255, 0);
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    opacity: 0; 
    animation: slide-star 3s linear infinite, appear 3s ease-in-out infinite;
    box-shadow: 0 0 40px 10px rgb(255, 255, 181), 0 0 30px 7px rgb(255, 255, 218), 0 0 20px 5px yellow;
}

.star-1 {
    top: 15%;
    left: 0%;
    animation-delay: 1.5s, 1.5s;
}

.star-2 {
    top: 40%;
    left: 70%;
}

.star-3 {
    top: 70%;
    left: 50%;
    animation-delay: 2.5s, 2.5s;
}

@keyframes slide-star {
    0%, 8% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(400px);
    }
}

@keyframes appear {
    0%, 8% {
        opacity: 0;
    }
    9%, 15% {
        opacity: 1;
    }
    16%, 100% {
        opacity: 0;
    }
}





.typewriter-container {
    text-align: center;  
}
  
.typewriter-1 h1 {
    display: inline-block; 
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    
    animation:
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
    animation-fill-mode: both;
}
  
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}
  


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

a {
    text-decoration: none;
}
.footer{
    color: rgba(255, 247, 247, 0.134);
    background-color: #ffffff29;

}


.grey-links{
    background-color: #faf1f120;
    height: 300px;
    padding-top: 45px;
    padding-left: 5%;
    position: relative;
    z-index: 8;
    background-size:cover;
    width: 100%;
    margin-top:50px;
    margin-right: 0 ;
}


.linkedin-block, .instagram-block, .github-block {
    text-align: center;
    background-color: #ffffff00; 
    height: 60px;
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#linkedin-logo, #instagram-logo, #github-logo {
    color: #ffffff;
    font-size: 40px;
    transition: 0.3s;
    vertical-align: middle; 
}

#github-logo {
    padding: 0;
    transition: 0.3s;
}

#github-logo:hover {
    color:hsl(133, 99%, 37%);
    font-size: 41px;
}


#linkedin-logo:hover {
    color:hsl(243, 100%, 60%);
    font-size: 41px;
}

#instagram-logo:hover {
    color:hsl(281, 100%, 54%);
    font-size: 41px;
}

.pages {
    text-transform: uppercase; 
    color:rgba(128, 149, 255, 0.999);
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 8px;
    line-height: 18px; 
    font-size: 20px;
    font-family: futuraLight;
}

.grey-link {
    color:rgb(141, 228, 255);
    font-family: futuraLight;
    letter-spacing: 2px;
    font-weight: 400px;
    font-size: 21px;
    line-height: 40px;
    position :relative;
    z-index: 1;
    padding-top: 7px;
}

.grey-link:hover {
    color:hsl(322, 97%, 86%);
}

.logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed; 
    bottom: 0; 
    right: 0;
    width: 100%; 
    background-color:#fff3f900; 
    z-index: 9;
    padding: 10px; 
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}


.contact-glass-container {
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    padding: 0.1rem;
    margin: 10rem;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.contact-container {
    width: 60%;
    margin: auto;
    color:rgba(152, 170, 255, 0.999);
}

.contact-title {
    margin-top : 70px;
    margin-bottom: 30px;
    font-family:  Chelsea;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 4.5px;
    color:rgba(152, 170, 255, 0.999);
    text-align: center; 
}

.contact-from {
    font-family: BGLight;
    font-size: 17px; 
}

.contact-label { 
    text-align: left;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 0px;
    margin-top : 15px;
    font-family: BGLight;
    font-size: 22px; 
    
}

input[type=text], select {
    width: 100%;
    font-size: 20px;
    font-family: BGLight;
    color: white;
    background-color:hsla(0, 0%, 100%, 0.055); 
    padding: 22px 14px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid rgba(152, 170, 255, 0.999);
    
}

input[type=submit] {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    background-color: hsla(60, 100%, 72%, 0.594);
    font-family: BGLight;
    font-size: 17px; 
    margin: 10px 0px;
    margin-bottom: 70px;
}

input[type=submit]:hover {
    box-shadow: .5px .5px 150px rgba(152, 170, 255, 0.999);
}

input[type=submit]::after {
    content: "Thanks";
    height: 50px;
    width: 100%; 
    background-color: hsl(60, 97%, 86%);
    color: hsl(60, 97%, 86%);
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

input[type=submit]::before {
    content: "Submit"; 
    height: 50px;
    width: 100%; 
    background-color: hsl(68, 97%, 86%);
    color: rgba(152, 170, 255, 0.999);
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

input[type=submit]:hover::after {
    transform: translateY(0) scale(1.2);
}

input[type=submit]:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}

input:focus, textarea:focus {
    outline: none;
}

#contact-thankyou {
    display: none; 
    padding-bottom: 190px;
    padding-top: 8px;
    padding-bottom: 100px;
    color:rgba(186, 41, 87, 0.885);
    font-size: 30px;
    font-family: BGLight;
    letter-spacing:  0.4px;
    line-height: 1.6;
    text-align: center; 

}

#note {
    height: 250px;
    line-height: 1.0;
    width: 93%;
    font-size: 18px;
    font-family: BGLight;
    background-color: hsla(325, 97%, 75%, 0.055); 
    padding: 22px 14px;
    margin: 10px 0px;
    border: none; 
    border-bottom: 2px solid #ff59a141; 

}

#submitted {
    display: none; 
}

.recent {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
.recent-title {
    margin-top: 60px;
    margin-bottom : 40px; 
    font-family: BGBold;
    text-transform: uppercase; 
    font-size: 43px;
    text-align: center;
    letter-spacing: 4.5px;
    color: rgba(152, 170, 255, 0.999);
    padding-left: 20px;
    z-index: 7;
    position: relative;
    transition : all 0.5s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.recent-title:hover {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}



.my-work {
    text-align: center;
}

.work-obj-container {
    margin-left: 75px;
    margin-right: 75px;
    display: inline-block;
    position: relative;
    margin-bottom: 75px;
    margin-top: 60px;
    width: 400px;  
    height: 270px; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    z-index: 7;
    transition: all 0.5s ease;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.work-obj-container:hover {
    width: 405px;
    height: 275px;
}

.work-img {
    object-fit: cover;
    width: 400px;  
    height: 270px; 
    transition: all 0.5s ease;
    border-radius: 15px;
}


.work-overlay {
    display:block;
    width: 418px;
    height: 280px;
    position: absolute; 
    top: 0;
    left:0;
    background-color: rgc(0,0,0,0,21);
    z-index: 3;
}


.work-title {
    text-align: left;
    width: 400px;
    height: 270px;
    position:absolute;
    line-height: 22.6;
    bottom: -63px;
    z-index: 4;
    color: rgba(175, 190, 255, 0.999);
    font-size: 21px;
    letter-spacing: 1px;
    font-family: BGBold;
    text-transform: uppercase; 
    overflow: hidden;
    left: 50%;  
    transform: translateX(-17.5%);
}

.work-title::before {
    content: "";
    position: absolute;
    bottom:0;
    left: 0;
    width: 60%;
    height: 20%;
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(2px); 
    z-index: -1; 


}

.work-cat {
   text-align: center; 
    width: 400px;
    height: 270px;
    position:absolute;
    line-height: 22.6;
    bottom: -155px;
    z-index: 4;
    color: rgba(191, 255, 229, 0.999);
    font-size: 15px;
    letter-spacing: 1px;
    font-family: BGBold;
    text-transform: uppercase; 
    left: 50%;  
    transform: translateX(-50%);
   
}

.about-glass-container {
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    padding: 1rem;
    margin: 8rem;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.about-info {
    width: 85%;
    margin: auto;
    color: rgba(152, 170, 255, 0.999);
    font-family: BGLight;
}

.about-header {
    margin-top: 70px;
    font-family: BGBold;
    text-transform: uppercase; 
    font-size: 32px;
    text-align: center;
    letter-spacing: 4.5px;
    color: rgba(181, 194, 255, 0.999);
    padding-left: 20px;
    transition : all 0.5 ease;
    z-index: 7;
    position: relative;

}

.about-header:hover {
    font-size: 34px;
} 

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.about-headshot {
    width: 50%;
    padding-bottom: 70%;
    background-image: url("photos/myphoto.jpeg");
    background-repeat: no-repeat;
    background-size:  cover;
    margin: auto;
    margin-top: 58px;
    margin-bottom: 100px;
    border-radius: 15px; 
    box-shadow: 0 0 7px rgba(0,0,0,0.5); 
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;

}

.about-desc {
    font-family: alata;
    margin-top: 20px;
    font-size: 20px;
    line-height: 28.8px;
    color: rgba(220, 225, 255, 0.999);
    z-index: 7;
    position: relative;
   
}

.my-skills {
    font-family: alata;
    margin-top: 33px;
    color: rgba(128, 173, 255, 0.885);
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 22px;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;

}
.skill-header {
    font-family: alata;
    color: rgba(144, 163, 255, 0.999);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 15px;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}


.i-do {
    font-family: alata;
    margin-top: 1px;
    color: #fffafa;
    text-transform: uppercase;
    line-height: 28.8px; 
    letter-spacing: 1px;
    font-size: 19px;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.about-next {
    height: 333px;
    margin-top: 50px; 
    background-color: #e2e2e261;
    color: rgba(152, 170, 255, 0.999);
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    transition : all 0.5s ease;
    animation: fadeIn 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.about-ready {
    font-family: BGBold;
    font-size: 25px; 
    padding-top: 97px;
    text-transform: uppercase;
    padding-bottom: 63px;
    letter-spacing: 3px;
    transition : all 0.3s ease;
}

.about-ready:hover {
    color:#ff7ac3;
}

.about-chat {
    border: 4px solid #fff;
    padding: 20px 20px; 
    margin-top: 200px; 
    text-transform: uppercase;
    font-family: BGBold ;
    letter-spacing: 3px;
    color: #fff;
    transition : all 0.5s ease;
}

.about-chat:hover {
    color: #e2e2e2; 
    background-color: #fff;
}

.project-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.project-block {
    justify-content: center;
    align-items: center;
    padding-left : 10%;

}

.project-title {
    width: 50%;
    position: relative;
    margin-top:  12%;
    text-align: center; 
    font-family: BGBold; 
}

.project-name , .project-category {
    letter-spacing: 2px;  
    color:rgba(190, 201, 255, 0.999);
}

.project-name {
    font-size: 50px;
   
}

.project-category {
    font-size:  20px ;
    top: 186px; 
    
}

.project-block { 
    margin-left: 10%;
    font-size: 50px; 
    width: 65%;
    font-family:  BGLight;
    color: #ffffff;
    
}

.project-des {
    margin-top: 34px;
    font-size: 30px;
    line-height:  28.8px;
    text-align: center;
}

.project-web {
    margin-top : 10px
}

#project-arrow {
    float : left; 
    font-size: 24px;
    padding-top: 1px;

}

.project-web-name {
    padding-left: 30px;
    font-family : BGBold ;
    font-size:  30px;
    color: #ffffff; 
}

.project-tools-title { 
    font-family: BGBold;
    font-size:  20px;
    color: #ffffff;
    text-transform:  uppercase;
    padding-top: 1%;
}


.project-tools {
    display: block;
    font-size: 20px;
}
    

.project-page {
    font-size:  20px;
    font-family: BGLight;
    text-transform:  uppercase;
    letter-spacing: 2px;
    margin-bottom: 80px;
}

.project-page-center {
    width : 80%;
    margin: auto; 
    text-align: center; 
}

.arrow-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px; 
    color: rgba(152, 170, 255, 0.999);
    background-color:rgba(152, 170, 255, 0.999);
}
.project-images {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;       
    height: 20%;           
}

.project-images img {
    width: 20%;  
    margin: 2%; 
}


.project-images img:last-child {
    margin-right: 0; 
}


.project-images-section {
    height: 100%; 
    position: relative;
    margin-top : 20%;

}

.project-git {
    margin-top: 10px;
}


.project-git-name {
    padding-left: 20px; 
    font-family:  BGBold;
    font-size: 30px;
    color :#e7ff7b;
}

.Hello {
    color:rgba(192, 203, 255, 0.999);
    font-family: Chelsea;
    font-size: 20px;
    margin-top: 70px; 
    padding-left: 20px;
    text-align: center;
    letter-spacing: 1.5px; 
}

.project-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    width: 30%;
    float: left;
    font-family: futuraLight;
   
    border-radius: 20px;
    margin-left: 30px;
   
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    z-index : 10; 
}
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    z-index: 0; 
  }
  
  .project-card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#e63369, #ff6589);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
    z-index : -1;
  }

  .project-wrapper {
    position: relative;
}
  
  .circle:nth-child(1) {
    top: 24x;
    left: -25px; 
    z-index : -1;
  }
  
  .circle:nth-child(2) {
    bottom: -430px;
    left: 400px;
    animation-name: move-down1;
    z-index : -1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
  
.project-card img {
    max-width: 100%;
    height: auto;

}
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.project-description {
   margin-top: 8px;
   font-family: futuraLight;
   color:#d00341;
   font-size : 20px;
}
.project-link {
    text-decoration: none;
    margin-top: 16px;
    font-family: futuraLight;
    font-size: 18px;
    color: magenta ;


}

.project-tech {
    color: #92002c;
}










