

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">
    </head>
    <body id = "aboutme">
        {{> main}}
        <div class="about-glass-container"> 
            <div class="about-info">
                <div class="about-header"><em>Welcome to my page!</em </div>
            <div class="about-headshot"></div>
            <div class="about-desc">
                   I'm a senior at Northwestern University's McCormick School of Engineering, where I'm earning my degree in Computer Science and minoring in Economics. 
            </div>
            <div class="about-desc">My passion as a dynamic software engineer lies in developing digital innovations that seamlessly blend creativity with technology across diverse platforms.  </div>
            <div class="about-desc">Whether it's designing engaging mobile applications, crafting intricate websites, or creating immersive gaming experiences, my focus is on engineering solutions that are not only robust and efficient, but also create captivating user experiences. </div>
            <div class="my-skills"><em>my skills</em></div>
            <div class="skill-header"><em>Technical Languages/Frameworks: </em></div>
            <div class="i-do">Python, C/C++/C#, JavaScript, HTML/CSS, R, SQL, STATA, Racket, MATLAB, Unix, Node.js, React.</div>
            <div class="skill-header"><em>Technologies:</em></div> 
            <div class="i-do">Git, GitHub, SourceTree, Jira, Figma, Unity, Google Cloud. </div>
            </div>
            <div class="about-next">
                <div class="about-ready"><em>learn more about me</em></div>
                <a class="about-chat" href="/contact">let's chat</a>
            </div>
        </div> 
        </div>
        {{> footer}}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
        var selectedBackground = localStorage.getItem('selectedBackground');
        if (selectedBackground) {
            document.body.style.backgroundImage = 'url(' + selectedBackground + ')';
        }
    });
    </script>
    </body>
</html>
