

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">
    </head>
    <body>
        {{> main}}
        <div class="contact-glass-container">
            <div class="contact-container">
                <div class="contact-title">let's chat</div>
                <form class="contact-form" id="contact-form" action="/contact" method="POST">
                   <div class="contact-label">Your Name (required)</div>
                    <input type="text" id="fullname" name="fullname" >
                    <div class="contact-label">Your Email (required)</div>
                    <input type="text" id="email" name="email" >
                    <div class="contact-label">Subject</div>
                    <input type="text" id="subject" name="subject" >
                    <div class="contact-label">Message</div>
                    <textarea rows="5" cols="50 " id="note" name="note" ></textarea>
                    <input type="submit" value="Submit" >
                </form>
                <div id="contact-thankyou">Happy to be in touch! I'll get back to you shortly.</div>
                <div id="submitted">{{submitted}}</div>
            </div>
        </div> 
        {{> footer}}
    </body>
</html>

<script>
    console.log(document.getElementById("submitted").innerHTML);
    var submitted = document.getElementById("submitted").innerHTML;
    if (submitted== "yes"){
        var contactForm = document.getElementById("contact-form");
        var contactThanks = document.getElementById("contact-thankyou");
        contactForm.style.display = "none";
        contactThanks.style.display = "block"; 
    }
</script>