<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Time for Fun?</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">
    </head>
    <body>
        {{> main}}
        <div class="fun-container">
            <div class="Hello">
                <h1>Fun Projects</h1>
            </div>

            <div class="project-wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="project-card">
                <div class="card-inner"></div>
                <img src="photos/gifs.png" alt="Project 1">
                <div class="project-description">This project features six GIFs that I created for my Generative Methods class.</div>
                <div class="project-tech">HTML, CSS, JavaScript</div>
                <div><a class="project-link" href="https://fungifs.glitch.me/">View Project</a></div>
            </div>
        </div>
        <div class="clearfix"></div>

        </div>

        <div>
            {{>footer}}
        </div>
    </body>
</html>
