<!DOCTYPE html>
<html lang ="en">
    <head>
       <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whmKvpSTqF0U7Gjng229QuC5DkZa9zFDp5uTYU/3pFt5uNeckvbuz1z8Jv" crossorigin="anonymous">



    </head>
    {{> main }}
    <body id="homepage">
        <div class="home">

             <div class="planet planet-1"></div>
            <div class="planet planet-2"></div>
             <div class="planet planet-3"></div>
             <div class="planet planet-4"></div>
             <div class="star star-1"></div>
            <div class="star star-2"></div>
            <div class="star star-3"></div>
            <div class="decor"></div>

            <div class="home-case">
                    <div class="typewriter-container">
                        <div class="typewriter-1">
                            <h1> MELISA OZDOYURAN</h1>
                        </div>
                        <div class="typewriter-2">
                            <p>Solutions-Driven<span class="highlight-software-engineer"> Software Engineer</span></p>
                        </div>
                        <div class="typewriter-3">
                            <p>Enhancing <span class="highlight-user-experience">User Experiences</span> Through <span class="underline-technology">Technology</span></p>  
                        </div>
                </div> 
            </div>

           <div class="transition-container">
                <div class="circle circle1"></div>
                <div class="circle circle2"></div>
                <div class="circle circle3"></div>
            </div>

            <div class="star-feature">
                <i id="star-button"  class="fas fa-star"></i>
                <div class="star-feature-desc">
                    Click to Enable/Disables Cosmic Visualization Features
                     <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/wibvszhx.json"
                            trigger="hover"
                            style="width:20px;height:20px;padding-top: 5px;">
                        </lord-icon>
                </div>
            </div>
            
            <div class="logos">
                <div class="linkedin-block">
                    <a href="https://www.linkedin.com/in/melisa-ozdoyuran/" target="_blank">
                    <i id="linkedin-logo" class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="instagram-block">
                    <a href="https://www.instagram.com/melisaozdoyuran/?hl=en" target="_blank">
                    <i id="instagram-logo" class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="github-block">
                    <a href="https://github.com/melisaozdoyuran2001" target="_blank">
                    <i id="github-logo" class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        


        <script>
    document.getElementById('star-button').addEventListener('click', function() {
    document.body.classList.toggle('show-planets');
    document.body.classList.toggle('show-stars');
    document.body.classList.toggle('saturn-cursor'); 
    this.classList.toggle('toggle-on');
    });


    document.addEventListener('mousemove', function(e) {
        var cursor = document.getElementById('cursor');
        var x = e.clientX; 
        var y = e.clientY;
        cursor.style.left = x + 'px';
        cursor.style.top = y + 'px';
    });



    document.addEventListener('DOMContentLoaded', function() {
        var circle1 = document.querySelector('.circle1');
        var circle2 = document.querySelector('.circle2');
        var circle3 = document.querySelector('.circle3');

        circle1.addEventListener('click', function() {
            localStorage.setItem('selectedBackground', 'photos/aldebaran-s-qtRF_RxCAo0-unsplash.jpg');
            circle2.style.opacity = '0.4';
            circle3.style.opacity = '0.4';
            circle1.style.opacity = '1';
            applyBackground();
        });

        circle2.addEventListener('click', function() {
            localStorage.setItem('selectedBackground', 'photos/bg2.jpg');
            circle1.style.opacity = '0.5';
            circle3.style.opacity = '0.5';
            circle2.style.opacity = '1';
            applyBackground();
        });

        circle3.addEventListener('click', function() {
            localStorage.setItem('selectedBackground', 'photos/bg1.jpg');
            circle1.style.opacity = '0.5';
            circle2.style.opacity = '0.5';
            circle3.style.opacity = '1';
            applyBackground();
        });

        function applyBackground() {
            var selectedBackground = localStorage.getItem('selectedBackground');
            if (selectedBackground) {
                document.body.style.backgroundImage = 'url(' + selectedBackground + ')';
            }
        }

    circle1.click();
        // Apply background when page loads
        applyBackground();
    });

    </script>
    </body>
   
</html>
