<!DOCTYPE html>
<html lang ="en">
    <head>
       <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">

    </head>
    {{> main }}
    <body id="homepage">
        <div class="home">
            {{!-- <div class="switch-container">
            <label class="switch" data-tooltip="Toggle this switch to enable or disable the cosmic visualization features :)">
                <div class="round">
                    <input name="onoff" id="onoff" type="checkbox">
                    <div class="back">
                        <label for="onoff" class="but">
                            <span class="on">0</span>
                            <span class="off">I</span>
                        </label>
                    </div>
                </div>
            </label>
            </div> --}}

             <div class="planet planet-1"></div>
            <div class="planet planet-2"></div>
             <div class="planet planet-3"></div>
             <div class="planet planet-4"></div>
             <div class="star star-1"></div>
            <div class="star star-2"></div>
            <div class="star star-3"></div>
            <div class="decor"></div>
            <div class="home-case">
                    <div class="typewriter-container">
                        <div class="typewriter-1">
                            <h1> MELISA OZDOYURAN</h1>
                        </div>
                        <div class="typewriter-2">
                            <p>Solutions-Driven<span class="highlight-software-engineer"> Software Engineer</span></p>
                        </div>
                        <div class="typewriter-3">
                            <p>Enhancing <span class="highlight-user-experience">User Experiences</span> Through <span class="underline-technology">Technology</span></p>  
                        </div>
                </div> 
            </div>

           <div class="transition-container">
                <div class="circle circle1"></div>
                <div class="circle circle2"></div>
                <div class="circle circle3"></div>
            </div>
            
            <div class="logos">
                <div class="linkedin-block">
                    <a href="https://www.linkedin.com/in/melisa-ozdoyuran/" target="_blank">
                    <i id="linkedin-logo" class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="instagram-block">
                    <a href="https://www.instagram.com/melisaozdoyuran/?hl=en" target="_blank">
                    <i id="instagram-logo" class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="github-block">
                    <a href="https://github.com/melisaozdoyuran2001" target="_blank">
                    <i id="github-logo" class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        


        <script>
      document.addEventListener('DOMContentLoaded', function() {
  const onoffSwitch = document.getElementById('onoff');
  const homeElement = document.querySelector('.home');
  const bodyElement = document.querySelector('body');
  const titleElement = document.querySelector('.typewriter-1 h1');
  const buttonContainer = document.querySelector('.button-container');

  onoffSwitch.addEventListener('change', function() {
    console.log("Switch toggled!");  // Debugging line
    if (this.checked) {
      homeElement.classList.add('show-planets', 'show-stars');
      bodyElement.classList.add('saturn-cursor');
      titleElement.classList.add('change-font');
      buttonContainer.classList.add('change-button-font');
    } else {
      homeElement.classList.remove('show-planets', 'show-stars');
      bodyElement.classList.remove('saturn-cursor');
      titleElement.classList.remove('change-font');
       buttonContainer.classList.remove('change-button-font');
    }
  });
});

 document.addEventListener('DOMContentLoaded', function() {
    var circle1 = document.querySelector('.circle1');
    var circle2 = document.querySelector('.circle2');
    var circle3 = document.querySelector('.circle3');

    circle1.addEventListener('click', function() {
        localStorage.setItem('selectedBackground', 'photos/aldebaran-s-qtRF_RxCAo0-unsplash.jpg');
         circle2.style.opacity = '0.4';
        circle3.style.opacity = '0.4';
        circle1.style.opacity = '1';
        applyBackground();
    });

    circle2.addEventListener('click', function() {
        localStorage.setItem('selectedBackground', 'photos/bg2.jpg');
         circle1.style.opacity = '0.5';
        circle3.style.opacity = '0.5';
        circle2.style.opacity = '1';
        applyBackground();
    });

    circle3.addEventListener('click', function() {
        localStorage.setItem('selectedBackground', 'photos/bg1.jpg');
         circle1.style.opacity = '0.5';
        circle2.style.opacity = '0.5';
        circle3.style.opacity = '1';
        applyBackground();
    });

    function applyBackground() {
        var selectedBackground = localStorage.getItem('selectedBackground');
        if (selectedBackground) {
            document.body.style.backgroundImage = 'url(' + selectedBackground + ')';
        }
    }

   circle1.click();
    // Apply background when page loads
    applyBackground();
});

    </script>
    </body>
   
</html>
