<!DOCTYPE html>
<html lang ="en">
    <head>
      <link rel="icon" type="image/jpg" href="photos/pp2.jpg">

    </head>
    {{> main }}
    <body>
        <div class="home">
            <div class="decor"></div>
            <div class="home-case">
                <div class="home-box">
                    <div class="typewriter">
                        <h1>hi there!</h1>
                    </div>
                    <div class="typewriter-1">
                         <h1>i’m <span class="highlight">melisa</span>, a creative and driven <span class="highlight">software</span></h1>
                    </div>
                    <div class="typewriter-2">
                        <h1><span class="highlight">engineer</span> passionate about crafting</h1>
                    </div>
                    <div class="typewriter-6">
                        <h1> innovative, user-focused solutions.</h1>
                    </div>
                </div>
                <div class="my-info">
                    <div class="typewriter-3">
                        <h1>[ senior at <span class="highlight">northwestern</span> university ]</h1>
                    </div>
                    <div class="typewriter-4">
                        <h1>[ computer science & economics ]</h1>
                    </div>
                </div> 
                <a class="home-button" href="/about"><span>about me</span></a>
                <a class="home-button" href="/work"><span>my work</span></a>
                <a class="home-button" href="/contact"><span>let's chat</span></a>

            </div>
            
            <div class="logos">
                <div class="linkedin-block">
                    <a href="https://www.linkedin.com/in/melisa-ozdoyuran/" target="_blank">
                    <i id="linkedin-logo" class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="instagram-block">
                    <a href="https://www.instagram.com/melisaozdoyuran/?hl=en" target="_blank">
                    <i id="instagram-logo" class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="github-block">
                    <a href="https://github.com/melisaozdoyuran2001" target="_blank">
                    <i id="github-logo" class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        
        {{> footer}}
    </body>
   
</html>
