<!DOCTYPE html>
<html lang ="en">
    <head>
       <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">

    </head>
    {{> main }}
    <body>
        <div class="home">
             <div class="planet planet-1"></div>
            <div class="planet planet-2"></div>
             <div class="planet planet-3"></div>
             <div class="planet planet-4"></div>
             <div class="star star-1"></div>
            <div class="star star-2"></div>
            <div class="star star-3"></div>
            <div class="decor"></div>
            <div class="home-case">
                <div class="home-box">
                    <div class="typewriter-container">
                        <div class="typewriter-1">
                            <h1>MELISA ÖZDOYURAN</h1>
                        </div>
                    </div>
                </div> 
                <div class="button-container"> 
                    <a class="home-button" href="/about"><span>about me</span></a>
                    <a class="home-button" href="/work"><span>my work</span></a>
                    <a class="home-button" href="/contact"><span>let's chat</span></a>
                     <a class="home-button" href="/fun"><span>time for fun? </span></a>
                </div>

            </div>
            
            <div class="logos">
                <div class="linkedin-block">
                    <a href="https://www.linkedin.com/in/melisa-ozdoyuran/" target="_blank">
                    <i id="linkedin-logo" class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="instagram-block">
                    <a href="https://www.instagram.com/melisaozdoyuran/?hl=en" target="_blank">
                    <i id="instagram-logo" class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="github-block">
                    <a href="https://github.com/melisaozdoyuran2001" target="_blank">
                    <i id="github-logo" class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        
        {{> footer}}
    </body>
   
</html>
