<!DOCTYPE html>
<html lang ="en">
    {{> main }}
    <body>
        <div class="home">
            <div class="decor"></div>
            <div class="home-case">
                <div class="home-box">
                    <div class="typewriter">
                        <h1>hi there!</h1>
                    </div>
                    <div class="typewriter-1">
                        <h1>i’m melisa, a creative and driven software </h1>
                    </div>
                    <div class="typewriter-2">
                        <h1>engineer passionate about crafting</h1>
                    </div>
                    <div class="typewriter-6">
                        <h1> innovative, user-focused solutions.</h1>
                    </div>
                </div>
                <div class="my-info">
                    <div class="typewriter-3">
                        <h1>[ rising senior at northwestern university ]</h1>
                    </div>
                    <div class="typewriter-4">
                        <h1>[ computer science & economics ]</h1>
                    </div>
                </div>
                <a class="home-button" href="/about">about me</a>
                <a class="home-button" href="/work">my work</a>
                <a class="home-button" href="/contact">let's chat</a>
            </div>
        </div>
        
        {{> footer}}
    </body>
   
</html>
