<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/styles.css">
        <meta charset="UTF-8">
    </head>
    <body>
        {{> main}}
        <div id="coming-soon">This page is under construction :)</div>
    </body>
</html>
