<div class="footer">
    <div class="grey-links">
        <div class="pages">pages</div>
        <a href="/work">
            <div class="grey-link">Work</div>
        </a>
        <a href="/about">
            <div class="grey-link">About</div>
        </a>
        <a href="/contact">
            <div class="grey-link">Contact</div>
        </a>
         <a href="/fun">
            <div class="grey-link">Fun Stuff :)</div>
        </a>

    </div>
    
</div>