<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymus">
        <title>Melisa Ozdoyuran</title>
        <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">
    </head>
    <body>
        <div class="navbar">
            <a href="/">
                <div class="main-headshot"></div>
            </a>
             <div class="button-container"> 
                    <a class="home-button" href="/about"><span>ABOUT</span></a>
                    <a class="home-button" href="/work"><span>PROJECTS</span></a>
                    <a class="home-button" href="/contact"><span>CONTACT</span></a>
                    <a class="home-button" href="/fun"><span>EXTRAS</span></a>    
            </div>
            <i id="bars" class="fas fa-bars" onclick="openMenu()"></i>
        </div>
        <div id="dark-overlay" onclick="closeMenu()"></div>
        <div id="sliding-menu" class="sliding-menu">
            <a href="javascript:void(0)" class="x-sign" onclick="closeMenu()">&times;</a>
            <a href="/about">about</a>
            <a href="/work">work</a>
            <a href="/contact">contact</a>
            <a href="/fun">Fun Stuff :) </a>
        
        </div>
        
        <div id="cursor"></div>

        <script>
            function openMenu(){
                var menuSlider = document.getElementById("sliding-menu");
                menuSlider.style.width= "300px";
                document.getElementById("dark-overlay").style.width = "100%"; 
            }
            function closeMenu(){
                var menuSlider = document.getElementById("sliding-menu");
                menuSlider.style.width= "0";
                document.getElementById("dark-overlay").style.width = "0"; 
            }
            document.addEventListener("mousemove", function(event) {
                const cursor = document.getElementById("cursor");
                const x = event.clientX -10;
                const y = event.clientY + window.scrollY -10;
                cursor.style.left = x + "px";
                cursor.style.top = y + "px";
            });

            document.addEventListener('DOMContentLoaded', function() {
            var buttons = document.querySelectorAll('.home-button');
            buttons.forEach(function(button) {
                if (window.location.pathname === button.getAttribute('href')) {
                    button.classList.add('current-page');
                }
            });
        });

        document.addEventListener('scroll', function() {
        var navbar = document.querySelector('.navbar');
        if (window.scrollY > 100) { // Adjust the 100px to suit your needs
            navbar.classList.add('blurred-navbar');
        } else {
            navbar.classList.remove('blurred-navbar');
        }
        });

        </script>
    </body>
</html>
