<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymus">
       

        <title>Melisa Ozdoyuran</title>
        <link rel="icon" type="image/jpeg" href="photos/mypp.jpg">
    </head>
    <body>
        <div class="navbar">
            <a href="/">
                <div class="main-headshot"></div>
            </a>
             <div class="button-container"> 
                    <a class="home-button" href="/about"><span>ABOUT</span></a>
                    <a class="home-button" href="/work"><span>PROJECTS</span></a>
                    <a class="home-button" href="/contact"><span>CONTACT</span></a>
                    <a class="home-button" href="/fun"><span>EXTRAS</span></a>
            </div>    
            <a class="extras-text"  href="/fun">
                Generative Art <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/zdzignng.json"
                        trigger="hover"
                        style="width:30px;height:30px;padding-top: 20px;">
                    </lord-icon> <br>
                Game Design & Development <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/pbyiftgw.json"
                        trigger="hover"
                        style="width:30px;height:30px;">
                    </lord-icon><br>
                Engineering & Design <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/ikavhliv.json"
                        trigger="hover"
                        style="width:25px;height:25px;padding-top: 10px;">
                    </lord-icon>
            </a>
            <i id="bars" class="fas fa-bars" onclick="openMenu()"></i>
        </div>
        <div id="dark-overlay" onclick="closeMenu()"></div>
        <div id="sliding-menu" class="sliding-menu">
            <a href="javascript:void(0)" class="x-sign" onclick="closeMenu()">&times;</a>
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/work">work</a>
            <a href="/contact">contact</a>
            <a href="/fun">Extras</a>
        
        </div>
        
        <div id="cursor"></div>

        <script>
            function openMenu(){
                var menuSlider = document.getElementById("sliding-menu");
                menuSlider.style.width= "300px";
                document.getElementById("dark-overlay").style.width = "100%"; 
            }
            function closeMenu(){
                var menuSlider = document.getElementById("sliding-menu");
                menuSlider.style.width= "0";
                document.getElementById("dark-overlay").style.width = "0"; 
            }


            document.addEventListener('DOMContentLoaded', function() {
            var buttons = document.querySelectorAll('.home-button');
            buttons.forEach(function(button) {
                if (window.location.pathname === button.getAttribute('href')) {
                    button.classList.add('current-page');
                }
                });
             });

            document.addEventListener('scroll', function() {
            var navbar = document.querySelector('.navbar');
            if (window.scrollY > 100) { 
                navbar.classList.add('blurred-navbar');
            } else {
                navbar.classList.remove('blurred-navbar');
            }
            });


            const extrasButton = document.querySelector('.home-button[href="/fun"]');
            const navBar = document.querySelector('.navbar');
            const extrasText = document.querySelector('.extras-text');


            extrasButton.addEventListener('mouseenter', function() {
                extrasText.style.display = 'block';
            });

            extrasText.addEventListener('mouseleave', function() {
                extrasText.style.display = 'none';
            });

            navBar.addEventListener('mouseleave', function() {
             extrasText.style.display = 'none';
            });
        </script>
    </body>
</html>
